/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__link;
	background-color: $color__background-body;
	color: $color__link;
	font-size: .75rem;
	line-height: 1;
	border-radius:3px;
	font-weight: lighter;
	padding: .6rem 1rem .4rem;

	&:hover {
		border-color: $color__link-hover;
		color:$color__link-hover;
	}

	&:active,
	&:focus {
		border-color: $color__link
	}
}

/* Fields */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background-color: $color__background-body;
	border: 2px solid $color__link;
	border-radius: 3px;
	color: white;
	font-weight: lighter;
	font-size: 1rem;
	margin-bottom:1.5rem;
	padding: .6rem 1rem .4rem;

	&:focus {
		border-color: #fcfcd2;
	}

	@include tablet {
		font-size: 1.25rem;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	width: 60%;
}

textarea {
	width: 100%;
}


/* Search Form */

.search-form label {
	float: left;
	min-width: 200px;
}

.search-form input[type="search"] {
	width: 240px;
}

.search-submit {
	border: 0;
	margin:0;

}
