/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */
.blog, .home, .single, .archive, .error404, .search{
    margin: 0 auto;
        max-width: 1080px;
        padding: 2.5%;
        width: 100%;

    .site-content{
        @include desktop{
        margin: 4.5rem 175px 1.5rem;
        position: relative;
        &:before,
        &:after {
            color: $color__link;
            font-family: 'FontAwesome';
            font-size: 125px;
            line-height: 125px;
            position: absolute;
            top: 0;
        }
        &:before {
            content: '\f10d';
            left: -175px;
        }

        &:after {
            content: '\f10e';
            right: -175px;
        }
        }
    }
    .entry-content{
        p{
            font-size: 1.25rem;
            font-weight:lighter;
            @include tablet{
                font-size: 1.75rem;
            }
            @include desktop{
                font-size: 2.5rem;
            }
        }
    }
    .entry-meta{
//             display: inline-flex;
            flex-wrap:wrap;
            margin-bottom: 3rem;

    .entry-title{
    	display:inline;
        font-weight:lighter;
        margin: 0;
        font-size: 1.25rem;
    }
    .source{
    	display:inline;
        font-weight:lighter;
         font-size: 1.25rem;
         font-style: italic;
        }
  }
  button{
    @include desktop{
        margin: 0 auto;
        display: block;
        font-size: 1.25rem;
    }
    @include tablet{
    	font-size: 1.25rem;
    }
  }
}

/*Archive*/
.post-archives,
.category-archives,
.tag-archives {
	ul {
        display:flex;
        flex-wrap:wrap;

		li {
			font-size: 1rem;
			margin-bottom: 10px;
			margin-right: 15px;

			@include tablet {
				font-size: 1.25rem;
			}
		}
    }
}
.archive,
.search {
	.page-title {
		border-bottom:1px dotted #fff;
		margin-top: 3rem;
		padding-bottom: 1.5rem;
	}
}
.archive .hentry {
    border-bottom: 1px dotted #fff;
}

/*About*/
.page{
margin: 0 auto;
max-width: 1080px;
padding: 0 2%;
width: 100%;
font-weight:lighter;

        .site-content{
        @include desktop{
        margin: 4.5rem 175px 1.5rem;
        position: relative;
        &:before,
        &:after {
            color: $color__link;
            font-family: 'FontAwesome';
            font-size: 125px;
            line-height: 125px;
            position: absolute;
            top: 0;
        }
        &:before {
            content: '\f10d';
            left: -175px;
            }

        &:after {
            content: '\f10e';
            right: -175px;
            }
        }
    }
}



/* Submit a Quote Page */
#quote-submission-form {
    div{
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      label {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      input{
        background-color: $color__background-body;
        border: 2px solid $color__link;
        border-radius: 3px;
        width: 250px;
        color: white;
        &:focus {
          outline: 0;
          border-color: white;
        }
        @include tablet {
          width: 450px;
        }
      }
      textarea {
        background-color: $color__background-body;
        border: 2px solid $color__link;
        border-radius: 3px;
        color: white;
        &:focus {
          outline: 0;
          border-color: white;
        }
      }
    }
    // input[type="submit"] {
    //   background-color: $color__background-body;
    //   box-shadow: none;
    //   text-shadow: none;
    //   border: 2px solid $color__link;
    //   color: $color__link;
    //   font-size: 1em;
    //   padding: 10px 25px;
    //   &:hover {
    //     color: darken($color__link, 10%);
    //     border-color: darken($color__link, 10%);
    //   }
    // }
  }
